.outer {
	width: $outer-size;
	height: $outer-size;
	padding: 1rem;
	position: relative;
	background-color: $outer-color;
	border-radius: 43%/40%;
	box-shadow: 0 0 5px black, inset 0 0 10px 7px gray, 0 15px 43px 2px black;

	&__corner {
		width: calc(50% - 2 * #{$corner-margin});
		height: calc(50% - 2 * #{$corner-margin});
		margin: $corner-margin;
		vertical-align: middle;
		border-radius: 10px;
		display: inline-block;
		box-shadow: 0 0 10px white, inset 0 0 15px 10px gray;
		cursor: pointer;

		&:active {
			box-shadow: inset 0 0 15px 2px gray;
		}

		@each $cn, $cl in $corner-colors {
			&--#{$cn} {
				background-color: $cl;
				border-#{$cn}-radius: 100%;
				$dashInd: str_index($cn, "-");

				background-image: linear-gradient(to #{str_slice($cn, 0, $dashInd - 1)} #{str_slice($cn, $dashInd + 1)}, lighten($cl, 20%), rgba($cl, 0.5));
			}
		}
	}

	&__center {
		position: absolute;
		left: 50% - $controls-size/2;
		top: 50% - $controls-size/2;
		width: $controls-size;
		height: $controls-size;
		border-radius: 50%;
		border: 8px solid #333;
		display: flex;
		flex-flow: column;
		text-align: center;
		background-color: $center-color;
		color: $center-text-color;
		text-shadow: $center-text-shadow;
		box-shadow: inset 0 0 10px 10px gray, inset 0 0 7px 7px black;
		padding: 12px;

		> * {
			// to allaw for pass through to .corners
			pointer-events: none;
		}
	}
}

@keyframes lamp {
	to {
		background-color: $lamp-color;
		box-shadow: 0 0 10px white, inset 0 0 15px 10px gray;
	}
}
