.label {
	text-transform: uppercase;
	margin: 5px 0 0;
}

.toggle {
	pointer-events: auto;

	input[type="checkbox"] {
		display: none;
	}

	&--start, &--strict {
		.outer:not(.on) & {
			pointer-events: none;
		}
	}

	&--start__button, &--strict__visible {
		border: 2px solid $button-border-color;
		border-radius: 50%;
		height: 1.5rem;
		width: 1.5rem;
		display: inline-block;
		background-color: $button-color;
		box-shadow: 0 0 8px 2px gray, 0 0 0 2px $button-shadow-color, inset 0 0 0 $button-shadow-color;
		margin-bottom: 14px;
		transition: all 0.2s;
	}

	&--start__button:active {
		box-shadow: 0 0 3px 1px gray, 0 0 0 $button-shadow-color, inset 0 0 5px $button-shadow-color;
		background-color: $button-active-color;
	}

	&--strict__visible {
		vertical-align: text-bottom;

		.outer.on input[type="checkbox"]:checked + &, &:active {
			box-shadow: 0 0 3px 1px gray, 0 0 0 $button-shadow-color, inset 0 0 5px $button-shadow-color;
			background-color: $lamp-color;
		}
	}

	&--power {
		width: 2 * 1.5rem;
		height: 1.5rem;
		background-color: black;
		text-align: left;
		padding: 1px;
		box-shadow: inset 0 0 3px 9px $center-color;
		vertical-align: middle;

		&__visible {
			background-color: $power-tumbler-color;
			width: 50%;
			height: 100%;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			left: 0;
			transition: left 0.2s;
			border: 1px solid $power-tumbler-border-color;
			box-shadow: inset 0 0 5px 2px gray, 0 0 3px 3px gray, inset 0 0 15px $power-tumbler-shadow-color;

			input[type="checkbox"]:checked + & {
				left: 50%;
			}
		}
	}
}
